In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
dates = pd.date_range("20130101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.282799  0.049085  0.739966  1.166796
2013-01-02 -1.228710  0.642984  0.369868 -0.209479
2013-01-03  0.945210 -0.725490 -2.276122 -1.001543
2013-01-04  0.050607  0.233344  0.804377 -0.317753
2013-01-05  1.104297  0.635533 -0.285457  0.456064
2013-01-06 -0.249469 -0.506796 -1.628418 -1.339733

In [15]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": ["test", "train", "test","9090"],
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3   9090  foo

In [16]:
df2 = df2.drop(df2[df2['E'].str.isdigit()==True].index)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo